.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5rem;
}

.case-text {
    text-indent: 2em;
    font-size: 1.5rem;
    line-height: 1.5;
}

li.case-text {
    text-indent: 0;
}

.laws {
    font-size: 1.4rem;
    border: 0.1rem solid #808080;
    border-left: 1rem solid #0097dd;
    background-color: #f6f6f6;
    padding: 1rem;
    margin: 0.5rem auto;
}

.law-no {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.law-text {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.cata {
    list-style: none;
}

.note {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #808080;
    margin-top: 5rem;
}

.notes {
    font-size: 1.4rem;
}