.jou p {
    margin-top: 0;
    margin-bottom: 0;
}

.jou p:first-child {
    margin-top: 1.6rem;
    margin-bottom: 0;
}

.jou p:last-child {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

.law {
    text-indent: -1em;
    padding: 0 1em;
    line-height: 1.5;
    font-size: 1.4rem;
}

.gist {
    text-indent: 1em;
    line-height: 1.5;
    font-size: 1.4rem;
}

.gou {
    line-height: 1.5;
    font-size: 1.4rem;
    text-indent: -1em;
    padding: 0 2em;
}

.kt {
    line-height: 1.5;
    font-size: 1.4rem;
    text-indent: 1em;
}

.pd {
    font-size: 1.4rem;
    border: 0.1rem solid #808080;
    border-left: 1rem solid #018ccc;
    background-color: #f6f6f6;
    padding: 1rem;
}

.mokuji {
    width: 90%;
    border: 1px solid #808080;
    background-color: #fdfdfd;
    padding: 1.5rem;
    padding-top: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 40em) {
    .mokuji {
        width: 60%;
    }
}

.hen {
    font-size: 1.4rem;
    text-indent: 1em;
}

.chap {
    font-size: 1.4rem;
    text-indent: 2em;
    line-height: 1.3;
}

.hen-title {
    font-size: 1.4rem;
    text-indent: 2em;
    margin: 0.5rem auto;
}

.chap-title {
    font-size: 1.4rem;
    text-indent: 3em;
    margin: 0.5rem auto;
}