/* General Setup */

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    min-height: 100vh;
    font-size: 1.6em;
    background-color: #ffffff;
    margin: auto 0;
}

@media (min-width: 40em) {
    body {
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    header {
        grid-column: span 2;
    }

    aside {
        grid-row: span 3;
        border-right: 0.1rem solid #a7d7f9;
    }
}

header, aside, section, footer {
    padding: 1.5rem;
}

header {
    background-color: #f6f6f6;
    background-image: linear-gradient(#ffffff, #ffffff, #f6f6f6);
}

nav {
    background-color: #f6f6f6;
    border-bottom: 0.1rem solid #a7d7f9;
}

aside {
    background-color:#f6f6f6;
}

section {
    background-color: #ffffff;
}

footer {
    background-color: #ffffff;
    border-top: 0.1rem solid #a7d7f9;
}

.lawgroup {
    margin: 0.8rem auto;
}

#six_laws {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

/* Text Format */

th {
    text-align: left;
}

#copyright {
    font-size: 1rem;
}

#intro {
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
}

.law {
    text-indent: 1em;
}

.links-list {
    display: inline;
}

/* Item Icon */

.abolished {
    background-color: #5e170e;
    border-radius: 5px;
    padding: 0.2rem;
    margin-left: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

.min {
    background-color: #5f9ea0;
    border-radius: 5px;
    padding: 0.2rem;
    margin-right: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

.kei {
    background-color: #996600;
    border-radius: 5px;
    padding: 0.2rem;
    margin-right: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

.sho {
    background-color: #6495ed;
    border-radius: 5px;
    padding: 0.2rem;
    margin-right: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

/* Link Format */

a {
    outline: none;
    text-decoration: none;
}

a:link, a:visited {
    color: #002874;
}

a:hover {
    border-bottom: 1px solid;
}

a:active {
    color: #690000;
}