/* General Setup */

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    min-height: 100vh;
    font-size: 1.6em;
    background-color: #ffffff;
    margin: auto 0;
}

header, main, footer {
    padding: 1.5rem;
}

header {
    background-color: #f6f6f6;
    background-image: linear-gradient(#ffffff 66%, #f6f6f6 100%);
    border-bottom: 0.1rem solid #a7d7f9;
}

nav {
    background-color: #f6f6f6;
    border-bottom: 0.1rem solid #a7d7f9;
}

aside {
    -webkit-text-size-adjust: none;
    background-color:#f6f6f6;
    border-bottom: 0.1rem solid #a7d7f9;
    padding: 0;
}

main {
    background-color: #ffffff;
}

footer {
    background-color: #ffffff;
    border-top: 0.1rem solid #a7d7f9;
}

.lawgroup {
    margin: 0.8rem auto;
}

.content {
    list-style: none;
    display: inline;
}

h1 {
    margin: 0.5rem auto;
}

@media (min-width: 40em) {
    body {
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    header {
        grid-column: span 2;
        border: none;
    }

    aside {
        -webkit-text-size-adjust: none;
        grid-row: span 3;
        border-bottom: none;
        background-image: linear-gradient(to bottom,rgba(167,215,249,0) -20%,#a7d7f9 100%);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 0.1rem 100%;
    }

    .content {
        display: block;
        list-style: none;
    }
}

/* Text Format */

th {
    text-align: left;
}

#copyright {
    font-size: 1rem;
}

#intro {
    font-size: 1rem;
}

h2 {
    font-size: 1.6rem;
}

.links-list {
    display: inline;
}

.lawinfo {
    font-size: 1.4rem;
    border: 0.1rem solid #808080;
    border-left: 1rem solid #008000;
    background-color: #f6f6f6;
    padding: 1rem;
}

.unpinfo {
    font-size: 1.4rem;
    border: 0.1rem solid #808080;
    border-left: 1rem solid #7c4314;
    background-color: #f6f6f6;
    padding: 1rem;
    margin: 0.5rem auto;
}

/* Item Icon */

.abolished {
    background-color: #5e170e;
    border-radius: 5px;
    padding: 0.2rem;
    margin-left: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

.partial {
    background-color: #147c3c;
    border-radius: 5px;
    padding: 0.2rem;
    margin-left: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

.unp {
    background-color: #7c4314;
    border-radius: 5px;
    padding: 0.2rem;
    margin-left: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

.min {
    background-color: #5f9ea0;
    border-radius: 5px;
    padding: 0.2rem;
    margin-right: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

.kei {
    background-color: #996600;
    border-radius: 5px;
    padding: 0.2rem;
    margin-right: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

.sho {
    background-color: #6495ed;
    border-radius: 5px;
    padding: 0.2rem;
    margin-right: 0.4rem;
    font-size: 1rem;
    color: #ffffff;
}

/* Link Format */

a {
    outline: none;
    text-decoration: none;
}

a:link, a:visited {
    color: #002874;
}

.working:link, .working:visited {
    color: #690000;
}

a:hover {
    border-bottom: 1px solid;
}

a:active {
    color: #690000;
}

a[href*="http"] {
    background: url('../images/external_link.png') no-repeat 100% 0;
    background-size: 1rem 1rem;
    padding-right: 1rem;
}

/* Table Format */

.notable {
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0.1rem solid #808080;
    font-size: 1.4rem;
}

.notable thead th:nth-child(1) {
    width: 5%;
    text-align: center;
}
  
.notable thead th:nth-child(2) {
    width: 50%;
}
  
.notable thead th:nth-child(3) {
    width: 15%;
}
  
.notable thead th:nth-child(4) {
    width: 10%;
}

.notable thead th:nth-child(5) {
    width: 20%;
}

.notable th, .notable td {
    border: 1px solid #bebebe;
    padding: 5px;
}

.notable tr:nth-child(even) td {
    background-color: #fafafa;
}
  
.notable tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

.notable th {
    background-color: #ebebeb;
}

.notable td:nth-child(1) {
    text-align: center;
} 

.notable td:nth-child(1)[colspan="5"] {
    text-align: left;
}